.calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  background-color: black;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
}

.btn-row:nth-child(5) > :nth-child(2) {
  width: 100px;
  background-color: orange;
  border-color: orange;
}

.btn-row > button:last-child {
  background-color: orange;
  border-color: orange;
}

.btn-row > button {
  margin: 5px;
}

.selection {
  color: white;
  font-weight: bold;
}

.result {
  color: white;
  margin-top: 15px;
}
